@import 'background', 'vars';

html, body{
    margin: 0;
    padding: 0;
    font-size: 65%;
    
}
.rel-container{
    
    position: relative;
}
.header{
    
    height: 10vh;
    
    .logo-split{
       
        position: absolute;
        z-index: 5;

        width: 26vw;
        left: 1vh;
        top: 2vh;
        
        
    }
}
.body1{
    height: 34vh;
    @include X{
        height: 29vh;
    }
    
    .featurevid{
        margin: 1.1vh;
        border: 8px dashed white;
        width: 95%;
        height: auto;
    }
}